* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.content h1 {
  margin-bottom: 2.6rem;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
}
